<p>vehicles works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <h1>VEHICLES</h1>

        <p>En Star Wars existen inumerables vehículos y formas de propulsión. 
            La mayoría de estos suelen tener un sistema de "repulsión" que los hace literalmente flotar sobre el suelo. Además, también hay 
            una gran variedad de vehículos tanto aéreos como espaciales. 
              Otros vehículos son sencillamente tanques zoomorfos que caminan como animales sobre los suelos de los más inhóspitos planetas.</p>

        <img src="https://db-api.elestimulo.com/app/uploads/2015/12/nave-star-wars-ub-feature-1-1100x572.jpg" alt="" srcset="">

        <h2>><a href="#">VEHICLES OF THE IMPIRE</a></h2>
        <h2>><a href="#">REPUBLIC VEHICLES</a></h2>
        <h2>><a href="#">RESISTANCE VEHICLES</a></h2>

        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2017/11/ala-x.jpg?itok=7hRqeo6m" alt="">

    </div>

</body>
</html>