<div id="menuNav">
    <ul routerLinkActive="active">
        <li routerLinkActive="active" routerLink="LinkPlanets">
            PLANETS
        </li>
        <li routerLinkActive="active" routerLink="LinkStarchips">
            STARCHIPS
        </li>
        <li routerLinkActive="active" routerLink="LinkCharacter">
            CHARACTERS
        </li>
        <li routerLinkActive="active" routerLink="LinkVehicles">
            VEHICLES
        </li>
        <li routerLinkActive="active" routerLink="LinkFilms">
            FILMS
        </li>
        <li routerLink="/" (click)="irInicio();">
            HOME
        </li>
    </ul>
</div>