<h1>
    PLANETS
</h1>
<style type="text/css">
table,th ,td { 
    border: 1px solid rgb(250, 246, 246);
    color:rgb(243, 243, 243);
    font-family: 'Cycle';
    align-content: center;

}
th, td 
{
    padding: 10px;
    color: #f2ae0a;
}
td{
    text-align: center;

}
h1{
    display: block;
    width: 100%;
    height: 160px;
    text-align: center;
    font-family: 'HeroesA';
    color: #f2ae0a;
    font-size: 4.4em;
    margin-left: 30px;
   
}



table{

    margin-left: 40px;
    
    
    
    color:rgb(243, 243, 243);
    width: 100%;

}
h2 {
    display: block;
    width: 100%;
    height: 160px;
    text-align: center;
    color:rgb(243, 243, 243);
    font-family: 'Cycle';
    
    margin-left: 30px;
   

}

</style>
<div>
<h2>
    Aquí podrás encontrar la información de los planetas del mundo de Star Wars, con su información importante sobre cada planeta!
</h2>


</div>
<div style="text-align:center;">
<table   >
    <tr>
        <th>
            Nombre del planeta
        </th>
        <th>
            Horas del día
        </th>
        <th>
            Días del año
        </th>
        <th>
            Diámetro del Planeta
        </th>
        <th>
            Gravedad en el Planeta
        </th>
        <th>
            Tipo de Terreno
        </th>
        <th>
            Superficies de agua
        </th>
    </tr>
   
    <tr *ngFor = "let planeta of listaPlanetas " > 
    <td>{{planeta.name}}</td>
    <td> {{planeta.rotation_period}}</td>
    <td>  {{planeta.orbital_period}}</td>
    <td>  {{planeta.diameter}}</td>
    <td> {{planeta.gravity}} </td>
    <td> {{planeta.terrain}} </td>
    <td> {{planeta.surface_water}} </td>
    
          

    </tr>




</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
