<title>Starchips</title>
<link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">



<header class=" site-header ">
    <div class="contenedor ">
        <div class="barra ">
            <h1 class="no-margin ">STARWARS</h1>


        </div>
        <!--barra-->

        <div class="texto-header ">
            <h2 class="no-margin ">STARCHIPS</h2>

        </div>

    </div>
    <!--contenedor-->




</header>

<section class="naves ">

    <div class="gallery ">

        <img src="./assets/imagenes/The_Emperors_Arrival_AoRCR.png" alt="imperio " width="600 " height="250 ">


    </div>


    <div class="gallery ">

        <img src="./assets/imagenes/DeathStar1-SWE.png " alt="dead " width="600 " height="250 ">


    </div>

    <div class="gallery ">

        <img src="./assets/imagenes/Acclamator_OCF.jpg " alt="aclamator " width="600 " height="250 ">


    </div>

    <div class="gallery ">

        <img src="./assets/imagenes/Heff_Tobber_U-Wing_XWM.png" alt="toober " width="600 " height="250 ">


    </div>

    <div class="gallery ">

        <img src="./assets/imagenes/LAATi_over_Ryloth.png" alt="laita " width="600 " height="250 ">


    </div>




</section>


<main class="botom ">


    <div class="navega ">
        <a href="historias ">
            <h3>+STORIES</h3>
        </a>
    </div>

</main>




<img src="./assets/imagenes/anderson-vieira-banner-starwars.jpg" alt="banner ">
