@font-face {
    font-family: 'StarJedi';
    /* Antes de descargar el archivo, le decimos al buscador
    que intente buscar en local la fuente con nombre
    Cabin, Cabin Regular o Cabin-Regular */
    src: url(recursos/Starjedi.ttf) format('truetype');
}

#cabecera {
    height: 50px;
    font-family: 'StarJedi';
    color: #f2ae0a;
    padding-top: 6px;
    padding-left: 30px;
    font-size: 23px;
    position: fixed;
    top: 0px;
    width: 100%;
    line-height: 20px;
    z-index: 50;
    background: black;
}