@font-face {
    font-family: heroes-assemble-bold;
    src: url(../css/fuentes/heroes-assemble-bold.ttf);
}

@font-face {
    font-family: heroesassemble2;
    src: url(../css/fuentes/heroesassemble2.ttf);
}