<div id="contFilms">
    <div id="tituloF">
        <h4>FILMS</h4>
    </div>
    <div id="imfF">
        <img src="./assets/imagenes/deathStar.jpg"/>
    </div>
    <div id="infF">
        <div class="secFS">
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films1.png"/>
                <img class="filmC" src="./assets/imagenes/Films2.jpg"/>
                <img class="filmC" src="./assets/imagenes/Films3.png"/>
            </div>
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films4.png"/>
                <img class="filmC" src="./assets/imagenes/Films5.png"/>
                <img class="filmC" src="./assets/imagenes/Films6.png"/>
            </div>
        </div>
        <div id="secFP">
            <img id="film7" src="./assets/imagenes/Films7.png"/>
        </div>
        <div id="secFC">
            <h2>SAGA</h2>
            <p>
                Hace mucho tiempo en una galaxia muy, muy lejana el cineasta estadounidense George Lucas concibio la franquicia
                conocida como Star Wars (La guerra de las galaxias en español) producida y distribuida por Walt Disney Company.
            </p>
            <p>
                Su trama describe las vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan con 
                elementos como "La fuerza", un campo de energía metafísico y omnipresente que posee un "lado oscuro" provocado por 
                la ira, el miedo y el odio.
            </p>
            <p>Aqui podras viajar hacia el conocimiento de esta franquicia. Disfruta el viaje y que "La Fuerza te acompañe".</p>
        </div>
    </div>
    <div id="infF2">
        <div id="secFC2">
            <h2>SAGA</h2>
            <p>
                Hace mucho tiempo en una galaxia muy, muy lejana el cineasta estadounidense George Lucas concibio la franquicia
                conocida como Star Wars (La guerra de las galaxias en español) producida y distribuida por Walt Disney Company.
            </p>
            <p>
                Su trama describe las vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan con 
                elementos como "La fuerza", un campo de energía metafísico y omnipresente que posee un "lado oscuro" provocado por 
                la ira, el miedo y el odio.
            </p>
            <p>Aqui podras viajar hacia el conocimiento de esta franquicia. Disfruta el viaje y que "La Fuerza te acompañe".</p>
        </div>
        <div id="secFC3">
            <img class="filmC" src="./assets/imagenes/Films1.png"/>
            <img class="filmC" src="./assets/imagenes/Films2.jpg"/>
            <img class="filmC" src="./assets/imagenes/Films3.png"/>
            <img class="filmC" src="./assets/imagenes/Films4.png"/>
            <img class="filmC" src="./assets/imagenes/Films5.png"/>
            <img class="filmC" src="./assets/imagenes/Films6.png"/>
            <img class="filmC" src="./assets/imagenes/Films7.png"/>
        </div>
    </div>
</div>
<div id="espacio_menu">
</div>
