<div id="contFilms">
    <div id="tituloF">
        <h4>FILMS</h4>
    </div>
    <div id="imfF">
        <img src="./assets/imagenes/deathStar.jpg"/>
    </div>
    <div id="infF">
        <div class="secFS">
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films1.png" (click)="llamarPelicula(1)"/>
                <img class="filmC" src="./assets/imagenes/Films2.jpg" (click)="llamarPelicula(2)"/>
                <img class="filmC" src="./assets/imagenes/Films3.png" (click)="llamarPelicula(3)"/>
            </div>
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films4.png" (click)="llamarPelicula(4)"/>
                <img class="filmC" src="./assets/imagenes/Films5.png" (click)="llamarPelicula(5)"/>
                <img class="filmC" src="./assets/imagenes/Films6.png" (click)="llamarPelicula(6)"/>
            </div>
        </div>
        <div id="secFP">
            <img id="film7" src="./assets/imagenes/Films7.png" (click)="llamarPelicula(7)"/>
        </div>
        <div id="secFC">
            <h2>SAGA</h2>
            <p>
                Hace mucho tiempo en una galaxia muy, muy lejana el cineasta estadounidense George Lucas concibio la franquicia
                conocida como Star Wars (La guerra de las galaxias en español) producida y distribuida por Walt Disney Company.
            </p>
            <p>
                Su trama describe las vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan con 
                elementos como "La fuerza", un campo de energía metafísico y omnipresente que posee un "lado oscuro" provocado por 
                la ira, el miedo y el odio.
            </p>
            <p>Aqui podras viajar hacia el conocimiento de esta franquicia. Disfruta el viaje y que "La Fuerza te acompañe".</p>
        </div>
    </div>
    <div id="infF2">
        <div id="secFC2">
            <h2>SAGA</h2>
            <p>
                Hace mucho tiempo en una galaxia muy, muy lejana el cineasta estadounidense George Lucas concibio la franquicia
                conocida como Star Wars (La guerra de las galaxias en español) producida y distribuida por Walt Disney Company.
            </p>
            <p>
                Su trama describe las vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan con 
                elementos como "La fuerza", un campo de energía metafísico y omnipresente que posee un "lado oscuro" provocado por 
                la ira, el miedo y el odio.
            </p>
            <p>Aqui podras viajar hacia el conocimiento de esta franquicia. Disfruta el viaje y que "La Fuerza te acompañe".</p>
        </div>
        <div id="secFC3">
            <img class="filmC" src="./assets/imagenes/Films1.png" (click)="llamarPelicula(1)"/>
            <img class="filmC" src="./assets/imagenes/Films2.jpg" (click)="llamarPelicula(2)"/>
            <img class="filmC" src="./assets/imagenes/Films3.png" (click)="llamarPelicula(3)"/>
            <img class="filmC" src="./assets/imagenes/Films4.png" (click)="llamarPelicula(4)"/>
            <img class="filmC" src="./assets/imagenes/Films5.png" (click)="llamarPelicula(5)"/>
            <img class="filmC" src="./assets/imagenes/Films6.png" (click)="llamarPelicula(6)"/>
            <img class="filmC" src="./assets/imagenes/Films7.png" (click)="llamarPelicula(7)"/>
        </div>
    </div>
</div>
<div id="contdescripFilmstitle" style="display: none;">
    <h1>{{ title }}</h1>
</div>
<div id="contdescripFilms" style="display: none;">
    <h3>Episodio:</h3>
    <p>{{ episodio}}</p>
    <h3>Parrafo Apertura:</h3>
    <p>{{ parrafo }}</p>
    <h3>Director:</h3>
    <p>{{ director }}</p>
    <h3>Productor:</h3>
    <p>{{ productor }}</p>
    <h3>Fecha de Lanzamiento:</h3>
    <p>{{ fecha_lanzamiento }}</p>
    <h3>Personajes:</h3>
    <ul>
        <li *ngFor = "let personaje of lista_personajes">
            {{ personaje }}
        </li>
    </ul>
    <!--<p>Planetas:<br/>"http://swapi.py4e.com/api/planets/1/","http://swapi.py4e.com/api/planets/2/","http://swapi.py4e.com/api/planets/3/"</p>
    <p>Naves espaciales:<br/>"http://swapi.py4e.com/api/starships/2/","http://swapi.py4e.com/api/starships/3/","http://swapi.py4e.com/api/starships/5/","http://swapi.py4e.com/api/starships/9/","http://swapi.py4e.com/api/starships/10/","http://swapi.py4e.com/api/starships/11/","http://swapi.py4e.com/api/starships/12/","http://swapi.py4e.com/api/starships/13/"</p>
    <p>Vehiculos:<br/>"http://swapi.py4e.com/api/vehicles/4/","http://swapi.py4e.com/api/vehicles/6/","http://swapi.py4e.com/api/vehicles/7/","http://swapi.py4e.com/api/vehicles/8/"</p>
    <p>Especies:<br/>"http://swapi.py4e.com/api/species/1/","http://swapi.py4e.com/api/species/2/","http://swapi.py4e.com/api/species/3/","http://swapi.py4e.com/api/species/4/","http://swapi.py4e.com/api/species/5/"</p>-->
</div>
<div id="espacio_menu">
</div>
