<div id="contCharacters">
    <div id="tituloF">
        <h4>Characters</h4>
    </div>
    <div id="imfF">
        <img src="./assets/imagenes/deathStar.jpg"/>
    </div>
    <div id="infF">
        <div class="secFS">
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/character1.webp"/>
                <img class="filmC" src="./assets/imagenes/r2-d2.jpeg"/>
                <img class="filmC" src="./assets/imagenes/c-3po.jpg"/>
            </div>
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/DarthVader.jpeg"/>
                <img class="filmC" src="./assets/imagenes/LeiaOrgana.webp"/>
                <img class="filmC" src="./assets/imagenes/OwenLars.jpeg"/>
            </div>
        </div>
        <div id="secFC">
            <h2>PERSONAJES</h2>
            <p>
                El universo de Star Wars, creado hace ya 40 años por George Lucas comenzó siendo poquita cosa, 
                pero ha alcanzado un tamaño tan vasto que la propia gente que trabaja en crear y ampliar dicho 
                imaginario necesita una guía para no pisar el trabajo de otros.
            </p>
            <p>
                A medida que han pasado los años, hemos conocido a personajes increíbles que se han grabado a fuego en 
                nuestra retina, y cruzamos los dedos para que Los últimos Jedi sigan ampliando ese repertorio de personajes.
            </p>
            <p>
                como todas las listas de este tipo, siempre nos faltará alguien, ya que está bastante sujeta a la opinión 
                de cada persona.
            </p>
        </div>
    </div>
    <div id="infF2">
        <div id="secFC2">
            <h2>PERSONAJES</h2>
            <p>
                El universo de Star Wars, creado hace ya 40 años por George Lucas comenzó siendo poquita cosa, 
                pero ha alcanzado un tamaño tan vasto que la propia gente que trabaja en crear y ampliar dicho 
                imaginario necesita una guía para no pisar el trabajo de otros.
            </p>
            <p>
                A medida que han pasado los años, hemos conocido a personajes increíbles que se han grabado a fuego en 
                nuestra retina, y cruzamos los dedos para que Los últimos Jedi sigan ampliando ese repertorio de personajes.
            </p>
            <p>
                como todas las listas de este tipo, siempre nos faltará alguien, ya que está bastante sujeta a la opinión 
                de cada persona.
            </p>
        </div>
        <div id="secFC3">
            <img class="filmC" src="./assets/imagenes/character1.webp"/>
            <img class="filmC" src="./assets/imagenes/r2-d2.jpeg"/>
            <img class="filmC" src="./assets/imagenes/c-3po.jpg"/>
            <img class="filmC" src="./assets/imagenes/DarthVader.jpeg"/>
            <img class="filmC" src="./assets/imagenes/LeiaOrgana.webp"/>
            <img class="filmC" src="./assets/imagenes/OwenLars.jpeg"/>
        </div>
    </div>
</div>
<div id="espacio_menu">
</div>