<div id="contCharacters">
    <div id="tituloF">
        <h4>Characters</h4>
    </div>
    <div id="imfF">
        <img src="./assets/imagenes/deathStar.jpg"/>
    </div>
    <div id="infF">
        <div class="secFS">
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films1.png"/>
                <img class="filmC" src="./assets/imagenes/Films2.jpg"/>
                <img class="filmC" src="./assets/imagenes/Films3.png"/>
            </div>
            <div class="secF">
                <img class="filmC" src="./assets/imagenes/Films4.png"/>
                <img class="filmC" src="./assets/imagenes/Films5.png"/>
                <img class="filmC" src="./assets/imagenes/Films6.png"/>
            </div>
        </div>
        <div id="secFP">
            <img id="film7" src="./assets/imagenes/Films7.png"/>
        </div>
        <div id="secFC">
            <h2>PERSONAJES</h2>
            
            
        </div>
    </div>
    <div id="infF2">
        <div id="secFC2">
            <h2>PERSONAJES</h2>
            <p>
                personajes de la saga de star wars
            </p>
        </div>
        <div id="secFC3">
            <img class="filmC" src="./assets/imagenes/Films1.png"/>
            <img class="filmC" src="./assets/imagenes/Films2.jpg"/>
            <img class="filmC" src="./assets/imagenes/Films3.png"/>
            <img class="filmC" src="./assets/imagenes/Films4.png"/>
            <img class="filmC" src="./assets/imagenes/Films5.png"/>
            <img class="filmC" src="./assets/imagenes/Films6.png"/>
            <img class="filmC" src="./assets/imagenes/Films7.png"/>
        </div>
    </div>
</div>
<div id="espacio_menu">
</div>