<div class="menu-inicio">
    <ul routerLinkActive="active">
        <li (click)="salirInicio();" routerLink="LinkFilms">
            FILMS
        </li>
        <li (click)="salirInicio();" routerLink="LinkVehicles">
            VEHICLES
        </li>
        <li (click)="salirInicio();" routerLink="LinkCharacter">
            CHARACTERS
        </li>
        <li (click)="salirInicio();" routerLink="LinkStarchips">
            STARCHIPS
        </li>
        <li (click)="salirInicio();" routerLink="LinkPlanets">
            PLANETS
        </li>
    </ul>
</div>